html{
  font-size: 62.5%;
}
.Maindiv1{
  margin: 0;
  background: linear-gradient(
    131.16deg,
    #e58b24 -75.93%,
    #60334f 28.78%,
    #442159 65.26%
  );
}
.forgetmailicon{
  width:2rem;
}
.forgetmaindiv {
  background-color: white;
  width: 50vw;
  height: 100vh;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.forgetpasswordcontainer {
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.forgetimg {
  position: relative;
  top: 3rem;
  width: 14rem;
  height: 7rem;
}
.paramaindiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 15rem;
  /* background-color:aliceblue; */
  margin:3rem 0 2rem;
}
.forgetheadig {
  font-family: Poppins, sans-serif;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 5.3rem;
  color: #454545;
  /* position: relative; */
  /* top:10px; */
  /* background-color: antiquewhite; */
}

.forgetpara {
  font-family: Poppins, sans-serif;
  font-size: 1.55rem;
  width: 39rem;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
  /* background-color: aquamarine; */
  /* position: relative; */
  /* bottom: 35px; */
}

.forgetbutton {
  width: 39rem;
  height: 5.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: #400862;
  font-family: poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.9rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px .4rem 2rem 0px #44215940;
  transition: 0.2s ease-in;
  margin-top: 2.5rem;
}
.forgetbutton:hover {
  width: 39rem;
  height: 5.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: #711da6;
}

/* css for error div...................................................................................................... */
.passerrordiv {
  width: 39rem;
  height: 9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffd9e2;
  border-radius: 1rem;
  margin: 1.5rem 0 0rem;
}
.passerrorimage {
  padding-left: 2.5rem;
}
.passerrorspan {
  color: #c80000;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: 0em;
  padding: .3rem;
  padding-left: 1rem;
}



@media only screen and (max-width: 2000px) and (min-width: 1600px) {
  html{
      font-size: 65.5%!important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  html{
      font-size: 62.5%!important;
  }  
}
@media only screen and (max-width: 1400px) and (min-width: 1300px){
  html{
      font-size: 58.5%!important;
  }  
  .forgetpasswordcontainer{
    height: 90%!important;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1200px){
  html{
      font-size: 54.5%!important;
  } 
  .forgetpasswordcontainer{
    height: 87%!important;
  } 
}
@media only screen and (max-width: 1200px) and (min-width: 1100px){
  html{
      font-size: 50.5%!important;
  }  
  .forgetpasswordcontainer{
    height: 84%!important;
  } 
}
@media only screen and (max-width: 1100px) and (min-width: 1000px){
  html{
      font-size: 46.5%!important;
  } 
  .forgetpasswordcontainer{
    height: 81%!important;
  }  
}
@media only screen and (max-width: 1000px) and (min-width: 900px){
  html{
      font-size: 42.5%!important;
  }  
  .forgetpasswordcontainer{
    height: 78%!important;
  } 
}
@media only screen and (max-width: 900px) and (min-width: 800px){
  html{
      font-size: 38.5%!important;
  } 
  .forgetpasswordcontainer{
    height: 75%!important;
  }  
}
@media only screen and (max-width: 800px) and (min-width: 700px){
  html{
      font-size: 34.5%!important;
  }  
  .forgetpasswordcontainer{
    height: 72%!important;
  } 
}
@media only screen and (max-width: 700px) and (min-width: 600px){
  html{
      font-size: 30.5%!important;
  }
  .forgetpasswordcontainer{
    height: 69%!important;
  }   
}







/* 



@media only screen and (max-width: 2000px) and (min-width: 1600px) {
  html{
      font-size: 68.5%!important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  html{
      font-size: 62.5%!important;
  }  

}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  html{
      font-size: 58.5%!important;
  } 

  .forgetpasswordcontainer{
    height: 90%;
  }

}
@media only screen and (max-width: 1250px) and (min-width: 1030px) {
  html{
      font-size: 47.5%!important;
  }  

  .forgetpasswordcontainer{
    height: 85%;
  }

}
@media only screen and (max-width: 1030px) and (min-width: 900px) {
  html{
      font-size: 40.5%!important;
  }  

  .forgetpasswordcontainer{
    height: 80%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  html{
      font-size: 35.5%!important;
  } 

  .forgetpasswordcontainer{
    height: 75%;
  }

}

@media only screen and (max-width: 800px) and (min-width: 650px){
  html{
      font-size: 29.5%!important;
  }  
} */