.html{
  font-size: 62.5%;
}
.Maindiv4 {
  margin: 0;
  background: linear-gradient(
    131.16deg,
    #e58b24 -75.93%,
    #60334f 28.78%,
    #442159 65.26%
  );
}
.Maincontainerpasupdate {
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.updatepasslogo {
  width: 14rem;
  height: 7rem;
}

.imgverified{
    width:14rem;
    height: 13rem;
}

.updatepasshead {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 5.3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
}
.updateflexboxdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
  margin-top: 4.5rem;
}
.updatepasspara {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
  margin: 2rem 0 2rem;
}

.updatetext{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.updatetext:hover{
    font-size: 1.6rem;
}


@media only screen and (max-width: 2000px) and (min-width: 1600px) {
  html{
      font-size: 68.5%!important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  html{
      font-size: 62.5%!important;
  }  

}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  html{
      font-size: 58.5%!important;
  } 

  .Maincontainerpasupdate {
    height: 90%;
  }

}
@media only screen and (max-width: 1250px) and (min-width: 1030px) {
  html{
      font-size: 47.5%!important;
  }  

  .Maincontainerpasupdate {
    height: 85%;
  }

}
@media only screen and (max-width: 1030px) and (min-width: 900px) {
  html{
      font-size: 40.5%!important;
  }  

  .Maincontainerpasupdate {
    height: 80%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  html{
      font-size: 35.5%!important;
  } 

  .Maincontainerpasupdate {
    height: 75%;
  }

}

@media only screen and (max-width: 800px) and (min-width: 650px){
  html{
      font-size: 29.5%!important;
  }  
}