.html{
  font-size: 62.5%;
}
.Maindiv5 {
  margin: 0;
  background: linear-gradient(
    131.16deg,
    #e58b24 -75.93%,
    #60334f 28.78%,
    #442159 65.26%
  );
}
.logininnerdivresetpass {
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
  align-items: center;
  /* background-color: aqua; */
}
.resetflexboxdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 2.5rem;
}
.resetimg {
  width: 14rem;
  height: 7rem;
}
.resetpassheading {
  /* font-family: Poppins; */
  font-size: 2.7rem;
  font-weight: 600;
  /* line-height: 5.3rem; */
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
  /* margin-bottom: 1.5rem; */
  /* background-color: #a4a4a4; */
}
.resetparaheading {
  /* font-family: Poppins; */
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
  margin-bottom: 1.5rem;
}

.passwordnotequal{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 39rem;
  height: 6rem;
  border-radius: 1.5rem;
  background-color: #ffd9e2;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.otperrormessagespanreset {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  width: 80%;
  line-height: 2.7rem;
  letter-spacing: 0em;
  color: #c80000;
  text-align: left;
}
/* .......................................................................................................................................... */
.passnewMaindiv {
  width: 39rem;
  margin: 1rem 0 1rem;
}
.passnewsecdiv {
  width: 39rem;
  height: 5.2rem;
  border-radius: 1.2rem;
  outline: none;
  box-shadow: 0px .4rem 2rem 0px rgba(68, 33, 89, 0.25);
  border: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.passnewsecdiv:hover {
  scale: 1.0005;
  box-shadow: 0px .4rem 2rem 0px rgba(30, 10, 58, 0.35);
  cursor: pointer;
}
.passnewpara {
  padding: 0;
  margin: 0;
}
.passnewtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* line-height: 3px; */
  color: #454545;
  position: relative;
  bottom: 0.3rem;
  /* background-color: #e58b24; */
}
.passnewinput {
  width: 30rem;
  height: 3rem;
  border: none;
  outline: none;
  color: var(--colours-light-grey-text, #a4a4a4);
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  line-height: normal;
  text-align: left;
  margin-top: .5rem;
  /* left: 4px; */
  position: relative;
}
.passnewinput:hover{
  cursor: pointer;
}
.passnewicon1 {
  width: 2.2rem;
  height: 1.189rem;
  left: 0.7rem;
  position: relative;
}
.passnewicon2 {
  width: 2.2rem;
  height: 1.189rem;
  position: relative;
  left: -1rem;
  /* top: 10.96px; */
  /* left: 100.48px; */
  /* position: relative; */
}
.indicator {
  width: 39rem;
  /* height: 13px; */
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  /* background-color: #454545; */
}
.para {
  width: 39rem;
  /* height: 9px; */
  /* margin-top: 6px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  /* background-color: #a4a4a4; */
}
.indicatordiv {
  width: 10rem;
  height: .9rem;
  border-radius: .5rem;
  background-color: grey;
}
.indicatorpara {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.changepassbutton {
  width: 39rem;
  height: 5.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: #400862;
  font-family: poppins, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.9rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px .4rem 2rem 0px #44215940;
  transition: 0.2s ease-in;
  margin: 1.5rem 0 1rem;
}
.changepassbutton:hover {
  width: 39rem;
  height: 5.2rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  background: #711da6;
  margin: 1.5rem 0 1rem;
}

.errormessagepassword {
  color: var(--colours-error-red, #c80000);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  text-align: right;
  width: 39rem;
}
.backlogin {
  margin: 1rem 0 1rem;
  font-size: 1.6rem;
  transition: 0.1s;
}
.backlogin:hover {
  font-size: 1.7rem;
}




@media only screen and (max-width: 2000px) and (min-width: 1600px) {
  html{
      font-size: 65.5%!important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  html{
      font-size: 62.5%!important;
  }  
}
@media only screen and (max-width: 1400px) and (min-width: 1300px){
  html{
      font-size: 58.5%!important;
  }  
  .logininnerdivresetpass{
    height: 90%!important;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1200px){
  html{
      font-size: 54.5%!important;
  } 
  .logininnerdivresetpass{
    height: 87%!important;
  } 
}
@media only screen and (max-width: 1200px) and (min-width: 1100px){
  html{
      font-size: 50.5%!important;
  }  
  .logininnerdivresetpass{
    height: 84%!important;
  } 
}
@media only screen and (max-width: 1100px) and (min-width: 1000px){
  html{
      font-size: 46.5%!important;
  } 
  .logininnerdivresetpass{
    height: 81%!important;
  }  
}
@media only screen and (max-width: 1000px) and (min-width: 900px){
  html{
      font-size: 42.5%!important;
  }  
  .logininnerdivresetpass{
    height: 78%!important;
  } 
}
@media only screen and (max-width: 900px) and (min-width: 800px){
  html{
      font-size: 38.5%!important;
  } 
  .logininnerdivresetpass{
    height: 75%!important;
  }  
}
@media only screen and (max-width: 800px) and (min-width: 700px){
  html{
      font-size: 34.5%!important;
  }  
  .logininnerdivresetpass{
    height: 72%!important;
  } 
}
@media only screen and (max-width: 700px) and (min-width: 600px){
  html{
      font-size: 30.5%!important;
  }
  .logininnerdivresetpass{
    height: 69%!important;
  }   
}










/* 

@media only screen and (max-width: 2000px) and (min-width: 1600px) {
  html{
      font-size: 68.5%!important;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
  html{
      font-size: 62.5%!important;
  }  

}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  html{
      font-size: 58.5%!important;
  } 

  .logininnerdivresetpass {
    height: 90%;
  }

}
@media only screen and (max-width: 1250px) and (min-width: 1030px) {
  html{
      font-size: 47.5%!important;
  }  

  .logininnerdivresetpass {
    height: 85%;
  }

}
@media only screen and (max-width: 1030px) and (min-width: 900px) {
  html{
      font-size: 40.5%!important;
  }  

  .logininnerdivresetpass{
    height: 80%;
  }

}

@media only screen and (max-width: 900px) and (min-width: 800px) {
  html{
      font-size: 35.5%!important;
  } 
 
  .logininnerdivresetpass {
    height: 75%;
  }

}

@media only screen and (max-width: 800px) and (min-width: 650px){
  html{
      font-size: 29.5%!important;
  }  
} */
