* {
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}



/* section 2 css start from here................................................................................................................ */
.enrollsection2 {
  width: 100%;
  height: 70rem;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.enrollsection2div1 {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: aquamarine; */
}
.enrollsection2div1main1 {
  /* background-color: aliceblue; */
  width: 60rem;
  height: 42rem;
  padding-left: 11rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: left;
}
#heading {
  width: 46rem;
  height: 26rem;
}
.enrollsection2heading {
  width: 44rem;
  height: 29rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 12rem;
  /* letter-spacing: 0em; */
  text-align: left;
  /* background-color: #111010; */

  font-family: "IBM Plex Sans Condensed", sans-serif;

  background: linear-gradient(138.98deg, #e58b24 8.76%, #442159 87.05%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* position: absolute; */
  /* display: block; */
  /* overflow: hidden; */
  animation: animate 2.5s linear forwards;
}
@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  10% {
    height: 12.5rem;
    width: 0px;
  }
  20% {
    height: 12.5rem;
    width: 5rem;
  }
  30% {
    width: 10rem;
    height: 12.5rem;
  }
  40% {
    width: 15rem;
    height: 12.5rem;
  }
  50% {
    width: 22rem;
    height: 12.5rem;
  }
  100% {
    width: 44rem;
    height: 25rem;
  }
}
.enrollsection2span {
  width: 56rem;
  height: 4.8rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  /* line-height: 28px; */
  /* letter-spacing: 0em; */
  text-align: left;
  color: #454545;
  /* opacity: 0; */
  /* background-color: #a4a4a4; */
  animation: animatebutton 1s ;
  /* animation-delay: 1.5s; */
  overflow: hidden;
}
/* @keyframes animatespan {
  
} */
.enrollsection2button {
  width: 16rem;
  height: 5rem;
  border-radius: 1.1rem;
  background: #400862;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3.3rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  transition: 0.1s all ease-in;
  /* filter: blur(30px); */
  animation: animatebutton 1s ;
  /* animation-delay: 1.5s; */
  overflow: hidden;
  /* opacity: 0; */
}
@keyframes animatebutton {
  0% {
    opacity: 1%;
    filter: blur(1rem);
  }
  10% {
    opacity: 2%;
    filter: blur(.9rem);
  }
  20% {
    opacity: 3%;
    filter: blur(.8rem);
  }
  30% {
    opacity: 4%;
    filter: blur(.7rem);
  }
  40% {
    opacity: 5%;
    filter: blur(.6rem);
  }
  50% {
    opacity: 6%;
    filter: blur(.5rem);
  }
  60% {
    opacity: 7%;
    filter: blur(.4rem);
  }
  80% {
    opacity: 80%;
    filter: blur(.2rem);
  }
  100% {
    opacity: 100%;
    filter: blur(0px);
  }
}

.enrollsection2button:hover {
  background-color: #5b0c8b;
}

.enrollsection2div1main2 {
  width: 100%;
  height: 43.8rem;
  /* padding: 20px, 120px, 0px, 100px; */

  /* background-color: #a4a4a4; */
  /* gap: 10px; */
}
.enrollsection2imagespan {
  width: 64rem;
  height: 35rem;
  /* padding: 20px, 120px, 0px, 100px; */
  /* display: block; */
  /* background-color: antiquewhite; */
  float: right;
}
.enrollsection2image {
  /* display: block; */
  /* width: 893px; */
  display: inline-block;
  height: 37rem;
  width: 55rem;
  animation: animateimg 1s ease-in;
  /* background-color: #454545; */
}
@keyframes animateimg {
  0% {
    opacity: 0%;
    filter: blur(1rem);
  }
  60% {
    opacity: 0%;
    filter: blur(.4rem);
  }
  90% {
    opacity: 90%;
    filter: blur(.2rem);
  }
  100% {
    opacity: 100%;
    filter: blur(0px);
  }
}

.enrollsection2div2 {
  width: 100%;
  height: 19.6rem;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  box-shadow: 0px 4rem 19.5rem 0px #4421594d;
}
.enrollsection2div2span {
  width: 25rem;
  height: 10rem;
  font-size: 2rem;
  font-weight: 600;
  color: #454545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #2e94c9; */
}
.enrollsection2div2span1{
  font-size: 3.4rem;
}
.enrollsection2div2icon {
  width: 25rem;
  height: 10rem;
}
.certificatepara{
  text-align: center;
}

/* section 3 css starts here......................................................................................................................... */

.enrollsection3 {
  width: 100%;
  /* background-color: #e58b24; */
  z-index: -1;
}
.enrollsection3div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 27rem;
  z-index: -1;
}
.designthinkingimg {
  width: 140rem;
  height: 28rem;
  /* box-shadow: 0px 0px 2px 20px black; */
  /* opacity: 0.8; */
  /* z-index: -1; */
  /* box-shadow: 10px 10px 20px 0px #44215933; */
}

/* section 3 div 2 starts here ................................................................................................................*/

.enrollsection3div2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
}
.enrollsection3para {
  height: 20rem;
  width: 110rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 3.6rem;
  letter-spacing: 0em;
  text-align: center;
  color: #454545;
}

/* section 3 div3 starts here.................................................................................................................. */

.enrollsection3div3 {
  width: 100%;
  height: 42rem;
}
.enrollsection3div31 {
  height: 45rem;
  width: 137rem;
  margin: auto;
  /* background-color: #e58b24; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.enrollsection3first {
  /* height: 460px; */
  height: 35rem;
  width: 66rem;
  /* background-color: aquamarine; */
  border-radius: 2rem;
  box-shadow: 0px 2rem 5rem 0px #44215933;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.enrollsection3first1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 35%;
  height: 100%;
}
.enrollsection3first11{
  height: 28%;
  width: 85%;
  background-color: #44215933;
  font-family: "Poppins", sans-serif;
font-size: 2rem;
font-weight: 900;
line-height: 3.6rem;
letter-spacing: 0.04em;
text-align: center;

color: #454545;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enrollsection3first2{
  width: 60%;
  height: 100%;
  /* background-color: #454545; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
font-size: 1.8rem;
font-weight: 900;
line-height: 2.5rem;
letter-spacing: 0.04em;
text-align: left;
color: #454545;


}
.enrollsection3second {
  height: 35rem;
  width: 66rem;
  /* background-color: blue; */
  border-radius: 2rem;
  box-shadow: 0px 2rem 5rem 0px #44215933;
}
.enrollsection3secondvideo{
  height: 35rem;
  width: 66rem;
  border-radius: 2rem;
}

/* section4 starts here....................................................................................................................... */

.enrollsection4 {
  width: 100%;
  /* height: 630px; */
  height: 79rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.enrollsection4heading {
  width: 50rem;
  height: 5.4rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  /* line-height: 72px; */
  letter-spacing: 0em;
  text-align: left;
  color: #454545;
  text-align: center;
  /* background-color: #a4a4a4; */
}

.enrollsection4firstdiv {
  width: 137rem;
  height: 28.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: #e58b24; */
}

.enrollsection4firstdivspan {
  width: 13rem;
  height: 19rem;
  /* background-color: #e58b24; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* border-radius: 20px; */
}
.enrollsection4firstdiv1{
  width: 13rem;
  height: 13rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#section4id1{
  background-color: #2E94C9;
  rotate: 45deg;

}
#section4id2{
  background-color: #8C5AA5;

}
#section4id3{
  background-color:  #D14C44;
  ;
}
#section4id4{
  background-color: #3C459C;

}
#section4id5{
  background-color: #3D5E44;

}
.designthinkinglogo{
 position: static;
 width: 8rem;
}
.enrollsection4firstdivheading{
  font-family: Poppins;
font-size: 2.5rem;
font-weight: 800;
/* line-height: 54px; */
letter-spacing: 0em;
text-align: center;

}
.enrollsection4seconddiv {
  /* width: 1443px; */
  width: 113rem;
  /* height: 250px; */
  height: 18rem;
  /* top: 30px; */
  border-radius: 30px;
  background-color: #2e94c9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.enrollsection4seconddivheading {
  width: 39.1rem;
  height: 7.4rem;
  top: 6.175rem;
  left: 55.1rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 5.4rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.enrollsection4para {
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  /* line-height: 36px; */

  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  width: 90rem;
}

/* section 5 starts here...................................................................................................................... */

.enrollsection5 {
  width: 100%;
  /* height: 630px; */
  height: 28.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.enrollsection5heading {
  width: 70rem;
  height: 5.4rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  /* line-height: 72px; */
  letter-spacing: 0em;
  /* text-align: left; */
  color: #454545;
  text-align: center;
  /* background-color: #a4a4a4; */
}
.enrollsection5firstdiv {
  width: 133rem;
  height: 28.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: #e58b24; */
}

.enrollsection5img {
  width: 8.0rem;
  height: 15rem;
  /* border-radius: 20px; */
}

/* section 6 starts here........................................................................................................................ */

.enrollsection6 {
  width: 100%;
  height: 35rem;
}
.enrollsection6div1 {
  height: 40rem;
  width: 133rem;
  margin: auto;
  /* background-color: #e58b24; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.enrollsection6first {
  /* height: 460px; */
  height: 36rem;
  width: 65rem;
  /* background-color: aquamarine; */
  border-radius: 2rem;
  box-shadow: 0px 2rem 5rem 0px #44215933;
}
.enrollsection6first1 {
  width: 100%;
  height: 6.2rem;
  top: 15rem;
  border-radius: 2rem 2rem 0 0px;
  background-color: #442159;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.enrollsection6first2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 29rem;
   /* background-color: #e58b24;   */
}
.enrollsection6first3 {
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 3.6rem;
  letter-spacing: 0.04em;
  text-align: left;
  color: #454545;
  /* background-color: #e58b24; */
}

.enrollsection6second {
  height: 36rem;
  width: 65rem;
  /* background-color: blue; */
  border-radius: 2rem;
  box-shadow: 0px 2rem 5rem 0px #44215933;
}
.enrollsection6second1 {
  width: 100%;
  height: 6.2rem;
  top: 15rem;
  border-radius: 2rem 2rem 0 0px;
  background-color: #442159;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.enrollsection6second2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 29rem;
  /* background-color: #e58b24; */
}
.enrollsection6second3 {
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 3.6rem;
  letter-spacing: 0.04em;
  text-align: left;
  color: #454545;
  /* background-color: #e58b24; */
}

/* section 7 starts here...................................................................................................................... */

.enrollsection7 {
  width: 100%;
  height: 105rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #2e94c9; */
  gap: 10rem;
}
.enrollsection7heading {
  width: 70rem;
  height: 5.4rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 7.2rem;
  letter-spacing: 0.04em;
  text-align: center;
  color: #454545;
}

.enrollsection7span {
  width: 123rem;
  height: 60rem;
  /* background-color: #e58b24; */
}
.enrollsection7img {
  width: 123rem;
  height: 61rem;
}

/* section 8 starts here...................................................................................................................... */

.enrollsection8 {
  width: 100%;
  height: 110rem;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: column;
  /* background-color:cadetblue; */
}

.enrollsection8heading {
  width: 60rem;
  height: 5.4rem;
  font-family: "Belanosima", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  line-height: 7.2rem;
  letter-spacing: 0.04em;
  text-align: center;
  color: #454545;
}
.enrollsection8div {
  width: 140rem;
  height: 80rem;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction: column;
  /* background-color: #2E94C9; */
}
.enrollsection8div1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 42rem;
  width: 131rem;

}
.enrollsection8div11{
  height: 35rem;
  width:62rem;
  /* background-color:#a4a4a4; */
  font-family: Poppins,sans-serif;
font-size: 2rem;
font-weight: 500;
line-height: 3rem;
letter-spacing: 0.04em;
text-align: left;
color:#454545;
/* background-color: #2e94c9; */



}
.enrollsection8div12{
  height: 35rem;
  width:62rem;
  /* background-color:#e58b24; */
  font-family: Poppins,sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.04em;
  text-align: left;
  color:#454545;
}
.enrollsection8div2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 42rem;
  width: 131rem;
  /* background-color: #2e94c9; */
}
.enrollsection8div21{
  height: 35rem;
  width:62rem;
  /* background-color:#2e94c9; */
  font-family: Poppins,sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  /* letter-spacing: 0.04em; */
  text-align: left;
  color:#454545;
  /* background-color: #2e94c9; */

}
/* 40 vw->620px 50vh->350px */
.enrollsection8div22{
  height: 35rem;
  width:62rem;
  /* background-color:bisque; */
  font-family: Poppins,sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 3rem;
  /* letter-spacing: 0.04em; */
  text-align: left;
  color:#454545;
}
.enrollsection8button {
  width: 27rem;
  height: 5.6rem;
  border-radius: 1rem;
  box-shadow: 0px -0.4rem 2rem 0px #44215940;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.8rem;
  /* letter-spacing: 0.05em; */
  text-align: center;
  border: none;
  outline: none;
  color: #454545;
  transition: 0.5s ease;
}
.enrollsection8button:hover {
  width: 27rem;
  height: 5.6rem;
  border-radius: 1rem;
  box-shadow: 0px .4rem 2rem 0px #44215940;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.8rem;
  /* letter-spacing: 0.05em; */
  text-align: center;
  border: none;
  outline: none;
  color: #454545;
}






