
@media only screen and (max-width: 2000px) and (min-width: 1600px) {
    html{
        font-size: 68.5%!important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px){
    html{
        font-size: 62.5%!important;
    }  
    .firstdiv2{
        height: 90vh!important;
    }
    .cartsection1{
        height: 120vh!important;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
    html{
        font-size: 58.5%!important;
    } 
    .firstdiv2{
        height: 80vh!important;
    } 
    .cartsection1{
        height: 100vh!important;
    }
}
@media only screen and (max-width: 1250px) and (min-width: 1030px) {
    html{
        font-size: 47.5%!important;
    }  
    .firstdiv2{
        height: 85vh!important;
    }
    .cartsection1{
        height: 85vh!important;
    }
}
@media only screen and (max-width: 1030px) and (min-width: 900px) {
    html{
        font-size: 40.5%!important;
    }  
    .firstdiv2{
        height: 85vh!important;
    }
    .cartsection1{
        height: 85vh!important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
    html{
        font-size: 35.5%!important;
    }  
    .firstdiv2{
        height: 85vh!important;
    }
    .cartsection1{
        height: 85vh!important;
    }
}

@media only screen and (max-width: 800px) and (min-width: 650px){
    html{
        font-size: 29.5%!important;
    }  
    .firstdiv2{
        height: 85vh!important;
    }  
}




