
@media (2000px > width >1600px){
    html{
        font-size: 68.5%!important;
    }  
}
@media (1600px > width >1400px){
    html{
        font-size: 62.5%!important;
    }  
}
@media (1400px > width >1250px){
    html{
        font-size: 58.5%!important;
    } 
}
@media (1400px > width >1250px){
    html{
        font-size: 54.5%!important;
    } 
}
@media (1250px > width >1030px){
    html{
        font-size: 48.5%!important;
    }  
}
@media ((1030px > width >900px)){
    html{
        font-size: 40.5%!important;
    }  
}
@media ((900px > width >800px)){
    html{
        font-size: 34.5%!important;
    }  
}
@media ((800px > width >650px)){
    html{
        font-size: 29.5%!important;
    }  
}


